html {

    background: url(VANA_files/2-3.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Patrick Hand', cursive;
    color: black;
}

#nikki {
    margin: 0 auto auto 0;
    position: fixed;
}
/*
#neva img{
   margin: 0px;
   position: relative;
   width: 1280px;
   height: 720px;
}

#royce img {
    margin: -175px 33px;
    position: absolute;
    width: 1250px;
    height: 720px;
} 
*/
#both img{
    padding: 100px;
    width: 1100px;
    height: 1237px;
}