html {
    background: url(VANA_files/520-1.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Patrick Hand', cursive;
    color: lightcoral;
}

#logo {
    position: fixed;
}

zero {
    font-size: 0;
}

#no1 {
    margin-top: 400px;
    background-image: url("https://i.pinimg.com/originals/f6/a8/9a/f6a89ad32237cb2ffc58677f20db8357.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 300px;
}

table {
    text-align: center;
    position: absolute;
    margin: 100px;
}

exam0 {
    text-align: left;
}
.nikki {
    size: 4;
    color: lightcoral;
    margin: 20px 140px 0 100px;
    padding: 5px 10px 20px 10px;
    border-radius: 20px;
    border: 2px dashed lightcoral;
    background-color: rgb(250, 250, 250, 0.5);
    text-align: left;
    line-height: 30px;
}

a {
    color: #C887AD;
}