html {
    background: url(VANA_files/3-211.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Patrick Hand', cursive;
    color: #15474C;
}

h1 {
    font-size: 60px;
    text-align: center;
}


#body img {
    width: 300px;
    height: 400px;
    margin-bottom: 200px;
}

#div2:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid rgba(215, 171, 180, 0.8);
}

#div1 {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div2 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px rgba(215, 171, 180, 0.8);
    animation: entry 1s linear 1;
}

#div4:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid rgba(172, 37, 41, 0.6);
}

#div3 {
    position: absolute;
    top: 30%;
    left: 27%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div4 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px rgba(172, 37, 41, 0.6);
    animation: entry 1s linear 1;
}

#div6:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid rgba(114, 145, 204, 0.8);
}

#div5 {
    position: absolute;
    top: 30%;
    left: 51%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div6 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px rgba(114, 145, 204, 0.8);
    animation: entry 1s linear 1;
}

#div8:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid rgba(105, 113, 155, 0.8);
}

#div7 {
    position: absolute;
    top: 30%;
    left: 75%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div8 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px rgba(105, 113, 155, 0.8);
    animation: entry 1s linear 1;
}