html {
    background: url(VANA_files/3-222.png);
    background-size: 100%;
    background-repeat: repeat;
    font-family: 'Patrick Hand', cursive;
    color: black;
}
#logo {
    position: fixed;
    margin-top: 0;
}

h1 {
    font-size: 70px;
    text-align: center;
}

div {
    margin-top: 30px;
}

#body img {
    width: 300px;
    height: 400px;
    margin-bottom: 200px;
}

#div2:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid #EFDCA8;
}

#div1 {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div2 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #EFDCA8;
    animation: entry 1s linear 1;
}

#div4:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid rgb(0, 0, 0, 0.8);
}

#div3 {
    position: absolute;
    top: 30%;
    left: 27%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div4 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px rgb(0, 0, 0, 0.8);
    animation: entry 1s linear 1;
}

#div6:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid #EFDCA8;
}

#div5 {
    position: absolute;
    top: 30%;
    left: 51%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div6 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px #EFDCA8;
    animation: entry 1s linear 1;
}

#div8:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
    border: 2px solid rgb(0, 0, 0, 0.8);
}

#div7 {
    position: absolute;
    top: 30%;
    left: 75%;
    width: 300px;
    height: 400px;
    perspective: 900px;
}

#div8 {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(60deg) scale(0.7);
    perspective: 900px;
    box-shadow: 0px 20px 50px rgb(0, 0, 0, 0.8);
    animation: entry 1s linear 1;
}