html {
    background: url(VANA_files/3-23.jpg);
    background-size: 100%;
    background-repeat: repeat;
    font-family: 'Patrick Hand', cursive;
    color: black;
}
#logo {
    position: fixed;
    margin-top: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.gallery {
    margin-top: 50px;
    --z: 20px; /* control the zig-zag  */
    --s: 450px; /* control the size */
    --g: 5px; /* control the gap */

    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    grid-auto-flow: column;
}

    .gallery > img {
        width: 0;
        min-width: calc(100% + var(--z)/2);
        height: var(--s);
        object-fit: cover;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        cursor: pointer;
        transition: .5s;
    }

        .gallery > img:hover {
            width: calc(var(--s)/2);
        }

        .gallery > img:first-child {
            place-self: start;
            clip-path: polygon(calc(2*var(--z)) 0,100% 0,100% 100%,0 100%);
            --mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% calc(2*var(--z)) repeat-y;
        }

        .gallery > img:last-child {
            place-self: end;
            clip-path: polygon(0 0,100% 0,calc(100% - 2*var(--z)) 100%,0 100%);
            --mask: conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) 50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
        }

