html {
    background: url(VANA_files/1207278.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Patrick Hand', cursive;
    color: black;
}
#logo {
    position: fixed;
    margin-top: 0;
}


.mutual {
    margin: 0px;
    color: navajowhite;
}


.anh img {
    width: 250px;
    height: 250px;
    --color: #FDFDFD; /* the border color */
    --border: 10px; /* the border thickness*/
    --offset: 20px; /* control the offset*/
    --gap: 5px; /* the gap on hover */

    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(3*var(--offset));
    padding: calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
    background: linear-gradient( var(--_c)) var(--_o) var(--_o), linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter: grayscale(.4);
    transition: .5s;
    cursor: pointer;
}

    .anh img:hover {
        background-position: 0px 0px;
        background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
        filter: grayscale(0);
    }

body {
    display: grid;
    grid-gap: 0px;
    text-align:center;
    margin: 0;
    grid-auto-flow: column;
    place-content: center;
}

.no1 {
    margin-left: 0px;
}

.no3 {
    margin-right: 0;
}

div {
   margin-left: 20px;
    display: inline;

}


