html {
    background: url(VANA_files/4-1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #AE8E3F;
    font-family: 'Asap', sans-serif;
}

#logo {
    position: fixed;
    margin-top: 0;
}

#next {
    font-family: 'Pacifico', cursive;
    float: right;
    margin: 0px;
    margin-right: 0;
    padding-top: 10px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.78);
    width: 250px;
    height: 45px;
    text-align: center;
    color: #AE8E3F;
    font-size: 21px;
}

    #next:hover {
        background-color: rgba(204, 204, 204, 0.78);
        color: #967b36;
        width: 200px;
        height: 30px;
        font-size: 18px;
    }

.p1 {
    width: 1100px;
    height: 500px;
    margin: 80px;
    margin-top: 30px;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(247, 239, 243, 0.77);
}

center {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}

.part1 img {
    width: 250px;
    height: 150px;
    float: right;
    margin-top: 0;
    margin: 20px;
    padding: 6px;
    border:  3px dashed #AE8E3F;
}

li {
    margin-top: -10px;
    line-height: 1.5;
    font-size: 23px;
    text-align:left;
}

