html {
    background-color: #D2DEED;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Alata', sans-serif;
    color: #469CE1;
}

#logo {
    position: fixed;
    margin: 0;
}


#next {
    float: right;
    margin: 0px;
    margin-right: 0;
    padding-top: 10px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0.78);
    width: 250px;
    height: 45px;
    text-align: center;
    color: #469CE1;
    font-family: 'Pacifico', cursive;
    font-size: 21px;
}

    #next:hover {
        background-color: rgba(204, 204, 204, 0.78);
        color: #207bc5;
        width: 200px;
        height: 30px;
        font-size: 18px;
    }

#support {
    background-color: white;
    width: 1330px;
    height: 1100px;
}

.part {
    margin: 0 150px auto 200px;

}

.p1 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 25px;
}

.p2 {
    font-size: 18px;
    font-family: 'Satisfy', cursive;
    margin-bottom: 100px;
}

.sp {
    position: absolute;
    text-align: center;
    font-size: 23px;
    padding: 30px;
    width: 300px;
    height: 800px;
}

center {
    margin-top: 10px;
    font-size: 45px;
    font-family: 'Satisfy', cursive;
}

.sp img {
    width: 290px;
    height: 450px;
}

.blank {
    width: 20px;
}

.s1 {
    margin: 20px;
    margin-top: 50px;
    background-color: #D2DEED;
}

.s2 {
    margin: 50px 0 10px 460px;
    background-color: #D2DEED;
}

.s3 {
    margin: 50px 0 10px 900px;
    background-color: #D2DEED;
}

.s1, .s2, .s3 {
    border-radius: 40px;
}