html {
  margin: 50px 100px;
}
p {
  text-indent: 30px;
}
img {
  width: 100px;
  margin-right: 30px;
}
#left img {
  float: left;
}
#right img{
  float: right;
}
#none img {
  float: none;
}
#left, #right, #none {
  margin-bottom: 50px;
  width: 500px;
}

.div1 {
  float: left;
  margin: 0;
  width: 100px;
  height: 50px;
  border: 2px solid red;
  text-align: center;
}
.div2 {
  width: 400px;
  height: 250px;
  border: 2px solid blue;
  padding: 20px;

}
.div3 {
  border: 2px solid red;
  margin: 0;
  width: 100px;
  height: 50px;
  text-align: center;
}
.div4 {
   width: 400px;
  height: 200px;
  border: 2px solid blue;
  clear: left;
  padding: 20px;
}